.main-container {
  width: 540px;
  margin: 0 auto;
}

.body {
  width: 100%;
}

#canvas {
  border-radius: 8px;
  border: 8px solid #F3F315;
}

.credit {
  font-size: 20px;
  color: black;
  text-align: center;
  font-family: arial;
  margin: 0;
}

.pacman-logo {
  width: 300px;
  text-align: center;
  margin-left: 122px;
  margin-top: 50px;
}

.image {
  display: none;
}

.new-game {
  position: absolute;
  top: 310px;
  right: 450px;
  color: #F3F315;
  font-size: 30px;
  font-family: arial;
}

.next-level {
  position: absolute;
  top: 310px;
  right: 430px;
  color: #F3F315;
  font-size: 30px;
  font-family: arial;
}

.game-over {
  position: absolute;
  top: 310px;
  right: 580px;
  color: #F3F315;
  font-size: 30px;
  font-family: arial;
}

.hidden {
  display: none;
}
